html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
img {
  max-width: 100%;
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
}

@font-face {
  font-family: "OnestRegular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("OnestRegular"), url("../fonts/OnestRegular.woff2") format("woff2"), url("../fonts/OnestRegular.woff") format("woff");
}
@font-face {
  font-family: "OnestMedium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("OnestMedium"), url("../fonts/OnestMedium.woff2") format("woff2"), url("../fonts/OnestMedium.woff") format("woff");
}
@font-face {
  font-family: "OnestBold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("OnestBold"), url("../fonts/OnestBold.woff2") format("woff2"), url("../fonts/OnestBold.woff") format("woff");
}
@font-face {
  font-family: "OnestExtraBold";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("OnestExtraBold"), url("../fonts/OnestExtraBold.woff2") format("woff2"),
    url("../fonts/OnestExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.woff2") format("woff2"),
    url("../fonts/Montserrat-Black.woff") format("woff");
}

body {
  font-family: "Montserrat-Medium";
  font-size: 24px;
  line-height: 130%;
  color: #2e2e2e;
  background-image: url("../images/body-bg.png");
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  font-family: "OnestMedium";
  font-size: 42px;
  line-height: 130%;
  color: #2a2a2a;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__top {
  background: #c20908;
  padding: 15px 0;
}
.header__top-inner {
  font-family: "Montserrat-Bold";
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.header__top-descr {
  display: flex;
  align-items: center;
}
.header__top-img {
  margin-right: 29px;
}

.header__bottom {
  background-image: url("../images/header-bg.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1309px 100%;
  margin-bottom: auto;
}
.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 10px;
  height: 100%;
}
.logo {
  font-size: 9px;
  line-height: 130%;
}
.menu__btn {
  display: none;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item + .menu__item {
  margin-left: 55px;
}
.menu__link {
  font-size: 16px;
  line-height: 130%;
}

.smm {
  padding-bottom: 45px;
}
.smm__inner {
  background-image: url("../images/smm-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  padding: 30px 30px 0 80px;
  border-radius: 41px;
  min-height: 500px;
}
.smm__inner::after,
.smm__inner::before {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -1;
}
.smm__inner::after {
  width: 239px;
  height: 241px;
  background-image: url("../images/smm-after.png");
  top: 45px;
  right: -124px;
}
.smm__inner::before {
  width: 242px;
  height: 319px;
  background-image: url("../images/smm-before.png");
  bottom: -70px;
  left: -135px;
}
.smm__income {
  background-color: #ffffff;
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: center;
  width: 350px;
  border-radius: 80px;
  padding: 12px 0;
}
.smm__title {
  font-family: "OnestMedium";
  font-size: 50px;
  line-height: 130%;
  padding-top: 50px;
  margin-bottom: 40px;
}
.smm__subtitle {
  max-width: 358px;
}
.smm__btn {
  font-family: "OnestMedium";
  position: absolute;
  left: 80px;
  bottom: -30px;
  background: #c20908;
  border-radius: 70px;
  width: 385px;
  height: 70px;
  border: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 130%;
}

.video {
  padding-top: 100px;
}
.video__inner {
  margin-top: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 524px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.video__inner::after {
  content: "";
  position: absolute;
  right: 40px;
  top: -48px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fdfdfd;
  background-image: url("../images/video-icon.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: inset 3px -1px 14px rgba(0, 0, 0, 0.11);
}
.video__play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 67px;
  background: linear-gradient(89.73deg, #b10000 1.37%, #ff2524 95.37%);
  border-radius: 19.847px;
}

.program {
  padding-top: 100px;
  background-image: url("../images/program-decor.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right -90px top -190px;
}
.program__inner {
  padding: 60px;
  background-color: #ffffff;
  border-radius: 10px;
}
.program__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.program__tab {
  width: 220px;
  height: 70px;
  background: #2a2a2a;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.program__tab.active {
  background: #c20908;
}
.program__content {
  display: none;
}
.program__content.active {
  display: grid;
  grid-template-columns: minmax(540px, 330px) minmax(429px, 300px);
  grid-gap: 0 64px;
}
.program__title {
  grid-column: span 2;
  color: #c20908;
}
.program__title-img {
  margin-right: 30px;
  float: left;
}
.program__title-text {
  padding-top: 45px;
}
.program__box {
  padding-top: 28px;
}
.program__box-title {
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}
.program__box-title::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.program__box-text {
  font-size: 18px;
  line-height: 150%;
}
.program__box-item + .program__box-item {
  margin-top: 30px;
}
.program__box--red {
  background: #c20908;
  border-radius: 10px;
  color: #ffffff;
  padding: 28px 45px 0 45px;
}
.program__box--red .program__box-title::after {
  background-color: #ffffff;
}

.speaker {
  padding-top: 100px;
}
.speaker__inner {
  padding-top: 40px;
  padding-left: 40px;
}
.speaker__info {
  display: flex;
  align-items: center;
  background: #2a2a2a;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #ffffff;
  width: 1120px;
  height: 600px;
  position: relative;
}
.speaker__info::after {
  content: "";
  position: absolute;
  right: 40px;
  top: -48px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fdfdfd;
  background-image: url("../images/speaker-icon.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: inset 3px -1px 14px rgba(0, 0, 0, 0.11);
}
.speaker__photo {
  max-width: 350px;
  transform: translateX(-40px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.56%, rgba(0, 0, 0, 0.7) 100%), url(.jpg),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  border-radius: 12px;
  overflow: hidden;
}
.speaker__img {
  max-width: 100%;
  object-fit: cover;
}
.speaker__descr {
  margin-left: 50px;
}
.speaker__name {
  font-family: "OnestRegular";
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 5px;
}
.speaker__subname {
  color: rgba(226, 226, 226, 0.5);
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 40px;
}
.speaker__list {
  max-width: 602px;
}
.speaker__item {
  padding-left: 24px;
  position: relative;
  font-size: 18px;
  line-height: 150%;
  font-family: "Montserrat-Regular";
}
.speaker__item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffffff;
}
.speaker__item + .speaker__item {
  margin-top: 30px;
}

.price {
  padding-top: 100px;
  padding-bottom: 130px;
}
.price__inner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 88px;
  position: relative;
}
.price__inner::after {
  content: "";
  position: absolute;
  width: 145px;
  height: 394px;
  background-image: url("../images/price-decor.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  top: -220px;
  right: 40px;
  z-index: -1;
}
.price__inner::before {
  content: "";
  position: absolute;
  width: 344px;
  height: 344px;
  background-image: url("../images/price-decor2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  bottom: 20px;
  left: -180px;
  z-index: -1;
}
.price__item {
  max-width: 560px;
  border-radius: 10px;
  padding: 88px 105px 0 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  position: relative;
  background-color: #ffffff;
}
.price__item--red {
  background: #c20908;
  color: #ffffff;
}
.price__item::before,
.price__item--red::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fdfdfd;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: inset 3px -1px 14px rgba(0, 0, 0, 0.11);
}
.price__item::before {
  background-image: url("../images/price-icon1.svg");
}
.price__item--red::before {
  background-image: url("../images/price-icon2.svg");
}
.price__title {
  font-family: "Montserrat-SemiBold";
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 50px;
  text-align: center;
}
.price__list {
  margin-bottom: auto;
  max-width: 369px;
}
.price__list-item {
  padding-left: 34px;
  position: relative;
}
.price__list-item::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 11px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000000;
}
.price__item--red .price__list-item::before {
  background-color: #ffffff;
}
.price__list-item + .price__list-item {
  margin-top: 20px;
}
.price__wrapp {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: auto;
}
.price__new {
  font-family: "OnestBold";
  font-size: 60px;
  line-height: 130%;
  margin-right: 25px;
}
.price__old {
  font-size: 18px;
  line-height: 150%;
  color: rgba(226, 226, 226, 0.5);
  text-decoration: line-through;
}
.price__btn {
  border: none;
  width: 268px;
  height: 70px;
  background: #2a2a2a;
  border-radius: 70px;
  color: #ffffff;
  font-family: "OnestRegular";
  font-size: 24px;
  line-height: 130%;
  margin: 0 auto -35px auto;
}

.feedback {
  padding-top: 60px;
  padding-bottom: 128px;
  max-width: 1470px;
  margin: 0 auto;
  background-color: #2a2a2a;
  border-radius: 10px;
  background-image: url("../images/feedback-decor1.png"), url("../images/feedback-decor2.png");
  background-repeat: no-repeat;
  background-position: right top, right top 170px;
  background-size: auto, auto;
  position: relative;
}
.feedback__inner .title {
  color: #ffffff;
}
.feedback__slides-wrapp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 77px;
}
.feedback__slides {
  margin-left: -49px;
}
.feedback__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 356px;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 37px;
  position: relative;
}
.feedback__slide::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 37px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.feedback__slide.swiper-slide-active::after {
  display: none;
}
.feedback__img {
  border-radius: 10px;
  margin-bottom: 30px;
  height: 356px;
  width: 100%;
}
.feedback__link {
  display: inline-block;
  width: 304px;
  height: 50px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 13px;
  z-index: 2;
}
.feedback__text {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.swiper-pagination {
  bottom: 0;
  top: 0px;
  color: #ffffff;
  font-size: 18px;
  line-height: 150%;
  padding-top: 30px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 23px;
  color: #323232;
}
.swiper-button-next {
  right: 325px;
}
.swiper-button-prev {
  left: 325px;
}
.swiper-slide-active {
  padding: 0;
  height: 590px;
  width: 304px !important;
  overflow: visible;
}
.swiper-slide-active .feedback__img {
  width: 304px;
  height: 430px;
}
.feedback__btn {
  width: 268px;
  height: 70px;
  background: #c20908;
  border-radius: 70px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  padding-top: 22px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.question {
  padding-top: 120px;
  padding-bottom: 200px;
}
.question__inner {
  width: 100%;
  padding-top: 40px;
}
.question__item {
  margin-bottom: 40px;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  padding: 30px 45px;
}
.question__title {
  position: relative;
  cursor: pointer;
}
.question__title::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0px;
  width: 27px;
  height: 14px;
  background-image: url("../images/arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.question__title.active::after {
  transform: rotate(90deg);
}
.question__title.active {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #c20908;
}
.question__body {
  display: none;
}
.question__body-item {
  position: relative;
  padding-left: 28px;
}
.question__body-item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 11px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #2a2a2a;
}
.question__body-item + .question__body-item {
  margin-top: 10px;
}

@media (max-width: 1536px) {
  .header__bottom {
    background-size: 1045px 100%;
  }
}
@media (max-width: 1440px) {
  .header__bottom {
    background-size: 999px 100%;
  }
}
