html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
img {
  max-width: 100%;
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
}

@font-face {
  font-family: "OnestRegular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("OnestRegular"), url("../fonts/OnestRegular.woff2") format("woff2"), url("../fonts/OnestRegular.woff") format("woff");
}
@font-face {
  font-family: "OnestMedium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("OnestMedium"), url("../fonts/OnestMedium.woff2") format("woff2"), url("../fonts/OnestMedium.woff") format("woff");
}
@font-face {
  font-family: "OnestBold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("OnestBold"), url("../fonts/OnestBold.woff2") format("woff2"), url("../fonts/OnestBold.woff") format("woff");
}
@font-face {
  font-family: "OnestExtraBold";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("OnestExtraBold"), url("../fonts/OnestExtraBold.woff2") format("woff2"),
    url("../fonts/OnestExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.woff2") format("woff2"),
    url("../fonts/Montserrat-Black.woff") format("woff");
}

body {
  font-family: "Montserrat-Medium";
  font-size: 1rem;
  line-height: 130%;
  color: #2e2e2e;
  background-image: url("../images/body-bg.jpg");
  background-size: auto;
  background-repeat: repeat;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  font-family: "OnestMedium";
  font-size: 42px;
  line-height: 130%;
  color: #2a2a2a;
  max-width: 610px;
}
.show__btn-mobile {
  display: none;
}
.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.125rem;
  font-weight: 500;
  font-size: 0.5625rem;
  line-height: 130%;
  position: relative;
  z-index: 51;
}

.header {
  position: fixed;
  top: 79px;
  left: 0;
  background-color: #fafafa !important;
  width: 100%;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  gap: 1.25rem;
}

.header__top {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #c20908;
  padding: 15px 0;
}
.header__top-inner {
  font-family: "Montserrat-SemiBold";
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.header__top-descr {
  display: flex;
  align-items: center;
}
.header__top-img {
  margin-right: 29px;
}

.menu__list {
  row-gap: 0.9375rem;
}

.menu__item_cab {
  position: relative;
}

.menu__item_cab::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25%;
  height: 1.0625rem;
  width: 0.0625rem;
  background-color: #2E2E2E;
}

.menu__link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 130%;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

.smm {
  padding-top: 15px;
  padding-bottom: 40px;
  margin-top: 270px;
}
.smm__inner {
  min-height: 500px;
  height: 100%;
  position: relative;
}
.smm__item {
  background-image: url("../images/smm-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 41px 41px 41px 41px;
  min-height: 500px;
  height: 100%;
  padding: 30px 30px 0 80px;
}
.smm__inner::after,
.smm__inner::before {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -1;
}
.smm__inner::after {
  width: 239px;
  height: 241px;
  background-image: url("../images/smm-after.png");
  top: 45px;
  right: -124px;
}
.smm__inner::before {
  width: 242px;
  height: 319px;
  background-image: url("../images/smm-before.png");
  bottom: -70px;
  left: -135px;
}
.smm__income {
  background-color: #ffffff;
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: center;
  width: 350px;
  border-radius: 80px;
  padding: 12px 0;
}
.smm__title {
  font-family: "OnestMedium";
  font-size: 50px;
  line-height: 130%;
  padding-top: 50px;
  margin-bottom: 40px;
}
.smm__subtitle {
  max-width: 358px;
}
.smm__btn {
  font-family: "OnestMedium";
  display: inline-block;
  background: #c20908;
  border-radius: 70px;
  width: 385px;
  height: 70px;
  border: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 130%;
  position: absolute;
  left: 80px;
  bottom: -30px;
}

.video {
  padding-top: 100px;
}
.video__inner {
  margin-top: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 524px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.video__inner::after {
  content: "";
  position: absolute;
  right: 40px;
  top: -48px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fdfdfd;
  background-image: url("../images/video-icon.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: inset 3px -1px 14px rgba(0, 0, 0, 0.11);
}
.video__play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 67px;
  background: linear-gradient(89.73deg, #b10000 1.37%, #ff2524 95.37%);
  border-radius: 19.847px;
}
.income {
  padding-top: 100px;
}
.income__inner {
  padding-top: 109px;
}
.income__calc {
  position: relative;
}
.range__slider {
  position: relative;
}
.income__calc::after,
.range__slider::after,
.range__slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -9px;
  background-color: #2a2a2a;
}
.income__calc::after {
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.range__slider::after {
  right: -2px;
  background: #c20908;
}
.range__slider::before {
  left: -10px;
}
.noUi-target {
  width: 100%;
  border: none;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(194, 9, 8, 1) 100%);
  height: 3px;
  border-radius: 0;
  transform: translateX(10px);
  box-shadow: none;
  z-index: 0;
}
.noUi-horizontal .noUi-handle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url("../images/smile1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  top: -21px;
  box-shadow: none;
}
.noUi-horizontal .noUi-handle.beginer {
  background-image: url("../images/smile1.png");
}
.noUi-horizontal .noUi-handle.junior {
  background-image: url("../images/junior.png");
}
.noUi-horizontal .noUi-handle.middle {
  background-image: url("../images/middle.png");
}
.noUi-horizontal .noUi-handle.senior {
  background-image: url("../images/senior.png");
}
.noUi-handle::after,
.noUi-handle::before {
  display: none;
}
.noUi-connect {
  transform: translateX(-10px);
  height: 3px;
  background-color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(255, 0, 0, 1) 100%);
}
.noUi-tooltip {
  position: absolute;
  bottom: 150% !important;
  display: block;
  padding: 6px 15px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  background-color: #2a2a2a;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-variant-numeric: tabular-nums;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}
.noUi-tooltip::after {
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid #2a2a2a;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  -webkit-transition: left 200ms;
  transition: left 200ms;
  content: "";
}
.income__values {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 150%;
}
.income__values-item:nth-child(2) {
  text-align: center;
}
.income__values-item:nth-child(3) {
  text-align: right;
  padding-right: 5px;
}
.program {
  padding-top: 100px;
  background-image: url("../images/program-decor.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right -90px top -190px;
}
.program__inner {
  padding: 60px;
  background-color: #ffffff;
  border-radius: 10px;
}
.program__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.select {
  display: none;
}
.program__tab {
  width: 220px;
  height: 70px;
  background: #2a2a2a;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.program__tab.active {
  background: #c20908;
}
.program__content {
  display: none;
}
.program__content.active {
  display: grid;
  grid-template-columns: minmax(540px, 330px) minmax(429px, 300px);
  grid-gap: 0 64px;
}
.program__title {
  grid-column: span 2;
  color: #c20908;
}
.program__title-img {
  margin-right: 30px;
  float: left;
}
.program__title-text {
  padding-top: 45px;
}
.program__box {
  padding-top: 28px;
}
.program__box-title {
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}
.program__box-title::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.program__box-text {
  font-size: 18px;
  line-height: 150%;
}
.program__box-item + .program__box-item {
  margin-top: 30px;
}
.program__box--red {
  background: #c20908;
  border-radius: 10px;
  color: #ffffff;
  padding: 28px 45px 0 45px;
}
.program__box--red .program__box-title::after {
  background-color: #ffffff;
}

.speaker {
  padding-top: 100px;
}
.speaker__inner .slick-list {
  padding-top: 70px;
  padding-left: 40px;
}
.speaker__info {
  display: flex !important;
  align-items: center;
  background: #2a2a2a;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #ffffff;
  width: 1120px;
  height: 600px;
  position: relative;
}
.speaker__info::after {
  content: "";
  position: absolute;
  right: 40px;
  top: -48px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fdfdfd;
  background-image: url("../images/speaker-icon.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: inset 3px -1px 14px rgba(0, 0, 0, 0.11);
}
.speaker__photo {
  max-width: 350px;
  transform: translateX(-40px);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.speaker__img {
  max-width: 100%;
  object-fit: cover;
}
.speaker__descr {
  margin-left: 50px;
}
.speaker__name {
  font-family: "OnestRegular";
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 5px;
}
.speaker__subname {
  color: rgba(226, 226, 226, 0.5);
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 40px;
}
.speaker__list {
  max-width: 602px;
}
.speaker__item {
  padding-left: 24px;
  position: relative;
  font-size: 18px;
  line-height: 150%;
  font-family: "Montserrat-Regular";
}
.speaker__item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffffff;
}
.speaker__item + .speaker__item {
  margin-top: 30px;
}
.speaker-prev,
.speaker-next {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #323232;
  border: none;
  z-index: 5;
  bottom: 300px;
}
.speaker-prev {
  left: -18px;
}
.speaker-next {
  left: 330px;
}
.speaker-prev.slick-disabled,
.speaker-next.slick-disabled {
  opacity: 0;
}

.price {
  padding-top: 100px;
  padding-bottom: 130px;
}
.price__inner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 88px;
  position: relative;
}
.price__inner::after {
  content: "";
  position: absolute;
  width: 145px;
  height: 394px;
  background-image: url("../images/price-decor.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  top: -220px;
  right: 40px;
  z-index: -1;
}
.price__inner::before {
  content: "";
  position: absolute;
  width: 344px;
  height: 344px;
  background-image: url("../images/price-decor2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  bottom: 20px;
  left: -180px;
  z-index: -1;
}
.price__item {
  max-width: 560px;
  width: 100%;
  border-radius: 10px;
  padding: 88px 105px 0 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  position: relative;
  background-color: #ffffff;
}
.price__item--red {
  background: #c20908;
  color: #ffffff;
}
.price__item::before,
.price__item--red::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fdfdfd;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: inset 3px -1px 14px rgba(0, 0, 0, 0.11);
}
.price__item::before {
  background-image: url("../images/price-icon1.svg");
}
.price__item--red::before {
  background-image: url("../images/price-icon2.svg");
}
.price__title {
  font-family: "Montserrat-SemiBold";
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 50px;
  text-align: center;
}
.price__list {
  margin-bottom: auto;
  max-width: 369px;
}
.price__list-item {
  padding-left: 34px;
  position: relative;
}
.price__list-item::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 11px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000000;
}
.price__item--red .price__list-item::before {
  background-color: #ffffff;
}
.price__list-item + .price__list-item {
  margin-top: 20px;
}
.price__wrapp {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: auto;
}
.price__new {
  font-family: "OnestBold";
  font-size: 60px;
  line-height: 130%;
  margin-right: 25px;
}
.price__old {
  font-size: 18px;
  line-height: 150%;
  color: rgba(42, 42, 42, 0.7);
  text-decoration: line-through;
}
.price__item--red .price__old {
  color: rgba(226, 226, 226, 0.7);
}
.price__btn {
  border: none;
  width: 268px;
  height: 70px;
  background: #2a2a2a;
  border-radius: 70px;
  color: #ffffff;
  font-family: "OnestRegular";
  font-size: 24px;
  line-height: 130%;
  margin: 0 auto -35px auto;
}
.modal-window {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal-window.active {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111;
}
.modal-window__title {
  font-family: "OnestMedium";
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 10px;
}
.modal-window__text-inner {
  text-align: center;
  margin-bottom: 25px;
}
.modal-window__text:first-child {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 40px;
}
.modal-window__text:last-child {
  font-size: 16px;
  line-height: 150%;
}
.modal-window__input {
  background: #f0f0f0;
  border-radius: 10px;
  border: none;
  padding: 12px 20px;
  margin-bottom: 10px;
  width: 100%;
}
.modal-window__input::placeholder {
  font-family: "Montserrat-Medium";
  font-size: 14px;
  line-height: 150%;
}
.btn-form {
  color: #ffffff;
  margin-top: 10px;
  border: none;
  background: #c20908;
  border-radius: 70px;
  font-family: "OnestMedium";
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}
#overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  cursor: pointer;
}
.modal-window__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 450px;
  padding: 40px 75px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  z-index: 101;
  text-align: center;
}
.btn-close {
  position: absolute;
  background-color: #111111;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btn-close::after,
.btn-close::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 17px;
  width: 2px;
  height: 20px;
  background-color: #ffffff;
}
.btn-close::before {
  transform: rotate(45deg);
}
.btn-close::after {
  transform: rotate(-45deg);
}

.feedback {
  padding-top: 60px;
  padding-bottom: 128px;
  max-width: 1470px;
  margin: 0 auto;
  background-color: #2a2a2a;
  border-radius: 10px;
  background-image: url("../images/feedback-decor1.png"), url("../images/feedback-decor2.png");
  background-repeat: no-repeat;
  background-position: right top, right top 170px;
  background-size: auto, auto;
  position: relative;
}
.feedback__inner .title {
  color: #ffffff;
}
.feedback__slides-wrapp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 77px;
}
.feedback__slides {
  margin-left: -49px;
}
.feedback__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 356px;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 37px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}
.feedback__slide::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 37px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.feedback__slide.swiper-slide-active::after {
  display: none;
}
.feedback__img {
  border-radius: 10px;
  margin-bottom: 30px;
  height: 356px;
  width: 100%;
  object-fit: contain;
}
.feedback__user {
  text-align: center;
  padding-top: 30px;
}
.feedback__link {
  display: inline-block;
  width: 304px;
  height: 50px;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding-top: 13px;
  z-index: 2;
}
.feedback__text {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  background-color: #2a2a2a;
}
.swiper-pagination {
  bottom: 0;
  top: 0px;
  color: #ffffff;
  font-size: 18px;
  line-height: 150%;
  padding-top: 30px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 23px;
  color: #323232;
}
.feedback__slide.swiper-button-next {
  right: 325px;
}
.feedback__slide.swiper-button-prev {
  left: 325px;
}
.feedback__slide.swiper-slide-active {
  padding: 0;
  height: 430px;
  width: 304px !important;
  overflow: visible;
}
.feedback__slide.swiper-slide-active .feedback__img {
  width: 304px;
  height: 430px;
}
.feedback__btn {
  width: 268px;
  height: 70px;
  background: #c20908;
  border-radius: 70px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  padding-top: 22px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.cases {
  padding-top: 135px;
}
.cases__inner {
  width: 100%;
  position: relative;
  height: 562px;
  overflow: hidden;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.cases__item {
  height: 554px;
}
.cases__item-wrepp {
  width: 300px;
  height: 450px;
}
.cases__user {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}
.cases__user-name {
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  text-align: center;
  padding: 6px 0;
  background: #ffffff;
  border-radius: 20px;
}
.cases__jump {
  display: flex;
  color: #ffffff;
  text-align: center;
  justify-content: space-between;
  align-items: flex-end;
}
.cases__jump-a {
  position: relative;
}
.cases__jump-arrow {
  padding-bottom: 3px;
}
.cases__jump-title {
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cases__jump-num {
  font-size: 16px;
  line-height: 150%;
  width: 100px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #2a2a2a;
  padding: 5px 0;
}
.cases__jump-num--red {
  color: #ffffff;
  background-color: #c20908;
}
.cases__read {
  display: inline-block;
  margin-top: 40px;
  background: #2a2a2a;
  border-radius: 70px;
  color: #ffffff;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 230px;
  padding: 20px 0;
  text-align: center;
}
.cases__modal {
  display: none;
  max-width: 1000px;
  width: 100%;
  height: 700px;
  background-color: #292929;
  border-radius: 10px;
  padding: 50px;
  color: #ffffff;
  position: relative;
}

.fancybox-slide--html .fancybox-close-small {
  right: 50px;
  top: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
}
.fancybox-button svg {
  display: none;
}
.fancybox-button {
  background-image: url("../images/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cases__modal-box {
  max-width: 535px;
}
.cases__modal-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
.cases__modal-img {
  object-fit: cover;
}
.cases__modal-name {
  margin-bottom: 30px;
}
.cases__modal-name__title {
  font-family: "OnestRegular";
  font-size: 50px;
  line-height: 130%;
  margin-bottom: 15px;
}
.cases__modal-name__subtitle {
  font-size: 20px;
  line-height: 150%;
  padding-left: 50px;
  position: relative;
  display: inline-block;
}
.cases__modal-name__subtitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../images/insta.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cases__modal-descr {
  font-family: "Montserrat-Regular";
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 53px;
  max-width: 510px;
}
.cases__modal-user dl {
  display: flex;
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 150%;
}
.cases__modal-user dt {
  color: rgba(255, 255, 255, 0.4);
  margin-right: 14px;
}
.cases__modal-jump {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cases__modal-jump__item {
  padding: 22px 30px 23px 30px;
  background: #c20908;
  border-radius: 10px;
  width: 240px;
  height: 148px;
  position: relative;
}
.cases__modal-jump__item:first-child::after {
  content: "";
  position: absolute;
  right: -38px;
  top: 50%;
  transform: translateY(-50%);
  width: 19px;
  height: 16px;
  background-image: url("../images/Arrow-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cases__modal-jump__title {
  font-size: 18px;
  line-height: 150%;
  position: relative;
  width: 100%;
  display: inline-block;
  font-family: "Montserrat-SemiBold";
}
.cases__modal-jump__title:first-child {
  margin-bottom: 25px;
  font-family: "Montserrat-Bold";
}
.cases__modal-jump__title--decor {
  position: relative;
}
.cases__modal-jump__title--decor::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.cases__modal-jump__subtitle {
  font-size: 16px;
  line-height: 150%;
  font-family: "Montserrat-Regular";
  padding-top: 5px;
}
.cases__modal--close,
.cases__modal-show__slider {
  display: none;
}
.cases__modal-slider__inner--close {
  width: 330px;
  height: 476px;
  float: right;
  position: absolute;
  right: 50px;
  top: 125px;
}
.cases__modal-slider {
  width: 100%;
  height: 100%;
}
.cases__modal-slider__item {
  width: 100%;
  height: 476px;
  border-radius: 10px;
}
.case__modal-next,
.case__modal-prev {
  position: absolute;
  top: calc(50% - 35px);
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 5;
}
.case__modal-next,
.cases__modal-slider-next {
  right: -28px;
}
.case__modal-prev,
.cases__modal-slider-prev {
  left: -28px;
}
.case__modal-prev.slick-disabled {
  opacity: 0;
}
.cases__btn-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}
.cases__btn-decor {
  display: inline-block;
  font-size: 68px;
  line-height: 70px;
}
.cases__btn {
  font-family: "OnestMedium";
  width: 320px;
  height: 70px;
  background: #c20908;
  border-radius: 70px;
  margin: 0 100px;
  color: #ffffff;
  border: none;
}

.question {
  padding-top: 120px;
  padding-bottom: 200px;
}
.question__inner {
  width: 100%;
  padding-top: 40px;
}
.question__item {
  margin-bottom: 40px;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  padding: 30px 45px;
}
.question__title {
  position: relative;
  cursor: pointer;
}
.question__title::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0px;
  width: 27px;
  height: 14px;
  background-image: url("../images/arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.question__title.active::after {
  transform: rotate(180deg);
}
.question__title.active {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #c20908;
}
.question__body {
  display: none;
}
.question__body-item {
  position: relative;
  padding-left: 28px;
}
.question__body-item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 11px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #2a2a2a;
}
.question__body-item + .question__body-item {
  margin-top: 10px;
}
.footer {
  padding-bottom: 58px;
  padding-top: 58px;
}
.footer .logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.125rem;
    font-size: .5625rem;
    position: relative;
    z-index: 51;
}

.footer__items {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item_telegram {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.footer__link {
  font-size: 14.0541px;
  line-height: 130%;
  position: relative;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.footer__item_telegram .footer__link {
  position: relative;
}

.footer__item_telegram .footer__link::before{
  background: url("../images/telegram.png") 0 0 no-repeat; }

.footer__item_telegram .footer__link::before {
  content: "";
  display: inline-block;
  top: 0;
  left: -35px;
  position: absolute;
  width: 20px;
  height: 20px;
}

@media (max-width: 460px) {
  .modal-window {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .modal-window.active {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 111;
  }
  .modal-window__title {
    font-family: "OnestMedium";
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .modal-window__text-inner {
    text-align: center;
    margin-bottom: 25px;
  }
  .modal-window__text:first-child {
    font-size: 12px;
    margin-bottom: 25px;
  }
  .modal-window__text:last-child {
    font-size: 15px;
  }
  .modal-window__input {
    font-family: "Montserrat-Medium";
    font-size: 12px;
    line-height: 150%;
  }
  .modal-window__input::placeholder {
    font-family: "Montserrat-Medium";
    font-size: 14px;
    line-height: 150%;
  }
  .btn-form {
    color: #ffffff;
    margin-top: 10px;
    border: none;
    background: #c20908;
    border-radius: 70px;
    font-family: "OnestMedium";
    font-size: 16px;
    line-height: 150%;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
  }
  #overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    cursor: pointer;
  }
  .modal-window__wrapper {
    width: 90%;
    height: 420px;
    padding: 25px 30px 45px 30px;
  }
  .btn-close {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .btn-close::after,
  .btn-close::before {
    top: 4px;
    left: 13px;
    width: 1px;
    height: 20px;
  }
  .main {
    position: relative;
    height: 100%;
  }
  .title {
    text-align: center;
    font-size: 24px;
    line-height: 130%;
  }
  
  .smm {
    padding-top: 0;
    margin-top: 120px;
  }
  .smm__item {
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("../images/smm-bg-320.jpg");
    border-radius: 0px 0px 10px 10px;
  }
  .smm__title {
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: center;
  }
  .smm__subtitle {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }
  .smm__income {
    display: none;
  }
  .smm__btn {
    font-size: 16px;
    line-height: 150%;
    width: 100%;
    left: 0;
    bottom: -95px;
  }
  .smm__inner::before {
    width: 67px;
    height: 76px;
    background-image: url("../images/smm-before-320.png");
    bottom: 0px;
    top: 126px;
    left: -21px;
  }
  .smm__inner::after {
    width: 77px;
    height: 77px;
    background-image: url("../images/smm-after-320.png");
    background-size: cover;
    top: 78px;
    right: -16px;
  }
  .video {
    padding-top: 95px;
  }
  .video__inner {
    height: 398px;
    margin-top: 37px;
  }
  .video__inner::after {
    width: 50px;
    height: 50px;
    background-size: 22px 34px;
    right: 28px;
    top: -25px;
  }
  .video__play {
    width: 70px;
    height: 48px;
    border-radius: 11px;
  }
  .video__play svg {
    width: 19px;
    height: 19px;
  }
  .income {
    padding-top: 40px;
  }
  .income__inner {
    padding-top: 85px;
  }
  .income__values {
    font-size: 12px;
    line-height: 150%;
    padding-top: 25px;
  }
  .noUi-target {
    height: 2px;
    transform: translateX(0);
    width: 90%;
    margin: 0 auto;
  }
  .noUi-tooltip {
    font-size: 9px;
    line-height: 14px;
    padding: 7px;
  }
  .income__calc::after,
  .range__slider::after,
  .range__slider::before {
    width: 8px;
    height: 8px;
    top: -3px;
  }
  .range__slider::before {
    left: -3px;
  }
  .noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    top: -11px;
    right: -10px;
  }

  .program {
    padding-top: 40px;
  }
  .program__inner {
    padding: 20px 0px 0px 0px;
  }
  .select {
    display: block;
  }
  .program__tabs {
    display: none;
  }
  .program__tabs-select {
    display: block;
    margin-top: 28px;
  }
  .program__tabs-select .program__tab {
    width: 100%;
  }
  .program__tabs-select .program__tab + .program__tab {
    margin-top: 15px;
  }
  .program__tab-body {
    display: none;
  }
  .program__tabs-select.active .program__tab-body {
    display: none;
  }

  .program__content.active {
    grid-template-columns: repeat(1, 1fr);
  }
  .program__title {
    grid-column: span 1;
    display: flex;
    align-items: center;
    padding-top: 32px;
  }
  .program__box {
    padding: 28px 20px 0;
  }
  .program__box--red {
    padding: 20px 20px 40px 20px;
    margin-top: 72px;
  }
  .program__box-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 150%;
  }
  .program__box-title::after {
    height: 1px;
  }
  .program__box-text {
    font-size: 15px;
    line-height: 150%;
  }
  .program__title-text {
    padding-top: 0;
  }
  .program__title-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .program__title-text {
    font-family: "OnestRegular";
    font-size: 18px;
    line-height: 130%;
  }

  .select {
    max-width: 100%;
    padding-top: 28px;
    position: relative;
  }
  .select__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 150%;
    color: #ffffff;
    background: #c20908;
    border-radius: 10px;
    padding: 9px 20px;
  }
  .select__title {
    text-transform: uppercase;
  }
  .select__icon {
    width: 16px;
    height: 13px;
  }
  .select__items {
    display: none;
  }
  .select.active .select__items {
    position: absolute;
    left: 5%;
    display: block;
    margin: 10px auto;
    width: 90%;
    padding: 10px 21px;
    background-color: #ffffff;
    box-shadow: 0 5px 20px black;
    border-radius: 10px;
    z-index: 2;
  }
  .select__item {
    font-size: 15px;
    line-height: 150%;
    padding: 10px 0px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .select__item:last-child {
    border-bottom: none;
  }
  .select.active .select__icon {
    transform: rotate(180deg);
  }

  .speaker {
    padding-top: 40px;
  }
  .speaker__inner {
    padding-left: 0;
    padding-top: 20px;
  }
  .speaker__inner .slick-list {
    padding-left: 0;
  }
  .speaker__info {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 20px 45px;
  }
  .speaker__photo {
    width: 320px;
    height: 270px;
    margin: -50px auto 30px auto;
    transform: translateX(0%);
  }
  .speaker__descr {
    margin-left: 0;
  }
  .speaker__name {
    font-size: 20px;
  }
  .speaker__subname {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .speaker__item {
    font-size: 12px;
    padding-left: 18px;
  }
  .speaker__item + .speaker__item {
    margin-top: 20px;
  }
  .speaker__item::before {
    top: 8px;
    left: 8px;
    width: 2px;
    height: 2px;
  }
  .speaker__info::after {
    width: 40px;
    height: 40px;
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
    background-size: 17px 23px;
  }
  .speaker-prev,
  .speaker-next {
    bottom: 0px;
    top: 145px;
  }
  .speaker-prev {
    left: 30px;
  }
  .speaker-next {
    left: auto;
    right: 30px;
  }

  .price {
    padding-top: 40px;
  }
  .price__inner {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 38px;
  }
  .price__inner::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 174px;
    background-image: url("../images/price-decor-320.svg");
    top: -100px;
    right: 0px;
  }
  .price__inner::before {
    width: 140px;
    height: 130px;
    background-image: url("../images/price-decor2-320.png");
    bottom: 435px;
    left: -54px;
  }
  .price__item {
    padding: 45px 30px 0px 30px;
    height: initial;
  }
  .price__item::before,
  .price__item--red::before {
    width: 50px;
    height: 50px;
    top: -25px;
    background-size: 21px 28px;
  }
  .price__item--red {
    margin-top: 150px;
  }
  .price__title {
    margin-bottom: 28px;
    font-size: 17px;
    line-height: 130%;
  }
  .price__list-item {
    font-family: "Montserrat-Medium";
    font-size: 15px;
    line-height: 150%;
    padding-left: 10px;
  }
  .price__list-item::before {
    top: 10px;
    left: 2px;
    width: 2px;
    height: 2px;
  }
  .price__wrapp {
    margin-top: 35px;
    margin-bottom: -15px;
  }
  .price__new {
    font-family: "OnestMedium";
    margin-right: 10px;
    font-size: 40px;
    line-height: 130%;
  }
  .price__old {
    font-size: 14px;
    line-height: 150%;
  }
  .price__btn {
    width: 119%;
    transform: translate(-30px, 45px);
  }

  .feedback {
    padding: 20px 0;
    background-position: right -60px top -35px, right -6px top 90px;
    background-size: auto, 50px, 50px;
  }
  .feedback__slides-wrapp {
    padding-top: 50px;
  }
  .swiper-pagination {
    padding-top: 20px;
    font-size: 12px;
    line-height: 150%;
  }
  .feedback__slide {
    height: 165px;
    padding-top: 95px;
  }
  .feedback__img {
    margin-bottom: 0;
  }
  .feedback__slide::after {
    top: 95px;
  }
  .feedback__slide.swiper-slide-active {
    padding: 0;
    height: 380px;
    width: 235px !important;
    overflow: visible;
  }
  .feedback__slide.swiper-slide-active .feedback__img {
    width: 235px;
    height: 380px;
  }
  .feedback__slides {
    margin-left: -90px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    top: 55%;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 13px;
  }
  .feedback__user {
    padding-top: 20px;
  }
  .feedback__link {
    width: 304px;
    height: auto;
    padding: 6px 0;
    font-size: 12px;
    width: 235px;
  }
  .feedback__text {
    font-size: 15px;
  }
  .feedback__btn {
    width: 90%;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: -60px;
  }

  .cases {
    position: relative;
  }
  .cases__user {
    height: 289px;
    width: 250px;
    margin: 0 auto;
  }
  .cases__inner {
    position: relative;
    height: 402px;
  }
  .cases__item-wrepp {
    margin: 0 auto;
    width: 100%;
  }
  .cases__btn-next,
  .cases__btn-prev {
    filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.25));
    top: 50%;
  }
  .cases__jump-a::after {
    bottom: 7px;
  }
  .cases__user-name {
    font-size: 12px;
  }
  .cases__jump-title {
    text-align: left;
    font-size: 12px;
    line-height: 150%;
  }
  .cases__jump-num {
    font-size: 12px;
    line-height: 150%;
    width: 82px;
  }
  .cases__read {
    margin-left: 0;
    transform: translateX(0);
    margin-top: 20px;
    background-color: transparent;
    color: #2a2a2a;
    border: 1px solid #2a2a2a;
    font-size: 14px;
    line-height: 150%;
    width: 175px;
    padding: 10px 0;
  }
  .cases__btn {
    background-color: #2a2a2a;
    font-size: 14px;
    line-height: 150%;
    padding: 11px 0;
    width: 175px;
    height: auto;
    margin: 0;
  }
  .cases__btn-wrapp {
    display: inline-block;
    padding-top: 0;
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 175px;
    z-index: 10;
  }
  .cases__btn-decor {
    display: none;
  }

  .cases__modal {
    padding: 30px;
    height: 90vh;
    width: 90vw;
  }

  .fancybox-slide--html .fancybox-close-small {
    right: 32px;
    top: 32px;
    width: 12px;
    height: 12px;
  }
  .cases__modal-box {
    height: 92.5%;
  }
  .cases__modal-photo {
    width: 80px;
    height: 80px;
  }
  .cases__modal-name {
    margin-bottom: 10px;
  }
  .cases__modal-name__title {
    font-size: 24px;
    line-height: 130%;
  }
  .cases__modal-name__subtitle {
    font-size: 12px;
    line-height: 150%;
    padding-left: 24px;
    width: 100%;
  }
  .cases__modal-name__subtitle::before {
    width: 16px;
    height: 16px;
  }
  .cases__modal-user dl {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 20px;
  }
  .cases__modal-descr {
    font-size: 15px;
    line-height: 150%;
    max-width: 298px;
    margin-bottom: auto;
  }
  .cases__modal-jump {
    margin-top: 58%;
  }
  .cases__modal-jump__item {
    padding: 0px 12px 0px;
    width: 146px;
    height: 105px;
  }
  .cases__modal-jump__title {
    font-size: 12px;
    line-height: 150%;
    font-family: "Montserrat-Regular";
  }
  .cases__modal-jump__title:first-child {
    margin-bottom: 0px;
    font-family: "Montserrat-Regular";
  }
  .cases__modal-jump__title--decor {
    transform: translateY(-8px);
  }
  .cases__modal-jump__subtitle {
    font-size: 12px;
    line-height: 150%;
    padding-top: 0;
  }
  .cases__modal-jump__item:first-child::after {
    width: 10px;
    height: 8px;
    right: -20px;
  }

  .cases__modal-slider__inner--close {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    z-index: 50;
  }
  .cases__modal--close {
    display: block;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 12px;
    height: 12px;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    z-index: 402;
  }
  .cases__modal-show__slider {
    display: block;
    font-size: 14px;
    line-height: 150%;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 70px;
    padding: 10px 40px 10px 40px;
    color: #ffffff;
    margin: 0 auto 0 auto;
    position: relative;
  }
  .cases__modal-show__slider::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .cases__modal-slider__inner--close {
    position: absolute;
  }
  .cases__modal-slider {
    height: 540px;
    width: 320px;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
  }
  .cases__modal-next,
  .cases__modal-prev {
    position: absolute;
    background-color: transparent;
    top: calc(100% - 34px);
    width: 153px;
    height: 44px;
    border-radius: 70px;
    border: 1px solid #ffffff;
  }
  .cases__modal-next {
    right: 0;
  }
  .cases__modal-prev {
    left: 0;
  }
  .cases__modal-next svg path,
  .cases__modal-prev svg path {
    stroke: #ffffff;
  }
  .cases__modal-next svg,
  .cases__modal-prev svg {
    width: 8px;
    height: 13px;
  }

  .question {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .question__inner {
    padding-top: 20px;
  }
  .question__item {
    padding: 20px;
    margin-bottom: 20px;
  }
  .question__title {
    font-size: 15px;
    line-height: 150%;
    padding-right: 20px;
  }
  .question__title::after {
    width: 15px;
    height: 9px;
    top: 6px;
    right: -3px;
  }
  .question__body {
    font-size: 12px;
    line-height: 150%;
  }
  .question__title.active {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
@media (max-width: 420px) {
  .cases__read {
    width: 135px;
  }
  .cases__btn-wrapp {
    width: 135px;
  }
  .cases__btn {
    width: 135px;
  }
  .cases__modal-jump__item {
    padding: 0px 12px 0px;
    width: 110px;
  }
  .cases__modal-slider {
    height: 413px;
    width: 240px;
    top: 62px;
  }
  .cases__modal-next,
  .cases__modal-prev {
    width: 110px;
    top: 490px;
  }
  .feedback__slides {
    margin-left: -95px;
  }
  .price__btn {
    width: 124%;
    height: 54px;
    transform: translate(-30px, 45px);
    font-size: 16px;
    line-height: 150%;
  }
  .speaker__photo {
    width: 240px;
    height: 240px;
  }
}
@media (max-width: 375px) {
  .speaker-next {
    right: 0;
  }
  .speaker-prev {
    left: 0px;
  }
  .feedback__slides {
    margin-left: -100px;
  }
}


.cases__modal-show__slider svg{
	display: none;
}

.cases__modal-slider__item {
	width: 100% !important;
	object-fit: contain;
}
.modal-window__text:first-child {
    margin-bottom: 20px;
}
.modal-window__wrapper {
	height: auto;
}
.modal-window__warn {
	margin-top: 12px;
	font-size: 9px;
	line-height: 1.5;
	text-align: center;
	color: #777777;
}
.modal-window__warn a{
	color: #3278FF;
	transition: 0.2s;
	border-bottom: 1px solid transparent;
}
.modal-window__warn a:hover{
	border-color: currentColor;
}
.question {
	padding-bottom: 100px;
}


@media screen and (max-width: 767px) {
	.container {
		width: 100%;
		max-width: 400px;
		padding: 0 20px;
	}
	.header {
		height: auto;
		top: 65px;
	}
	.speaker__photo {
		width: 100%;
		height: auto;
		padding-top: 100%;
	}
	.speaker__img {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    object-fit: cover;
	}
	.cases .container {
		position: relative;
	}
	.cases__jump-title {
		text-align: center;
	}
	.cases__user {
		box-sizing: border-box;
	}
	.cases__read {
		width: 250px;
		margin: 20px auto 0;
		display: block;
	}
	.cases__btn-wrapp {
		width: 250px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		display: block;
	}
	.cases__btn {
		width: 100%;
	}
	.cases__modal-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.cases__modal-slider__inner--close {
		display: block;
		opacity: 0;
		pointer-events: none;
	}
	.cases__modal-slider__inner--close.active {
		display: block;
		opacity: 1;
		pointer-events: all;
	}
	.swiper-pagination {
		pointer-events: none;
	}
	.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
	    opacity: 1;
	    cursor: auto;
	    pointer-events: all;
	}
}

@media screen and (max-width: 460px) {
	.menu__item_cab::before {
    display: none;
  }
  .menu__link {
    font-size: 22px;
}
	.header__top-inner {
	    font-size: 12px;
	    line-height: 150%;
	  }
	  .header__top-img {
	    width: 20px;
	    height: 20px;
	    margin-right: 15px;
	  }
	  .header__top.hide {
    display: none;
  }
	.speaker-next {
	    left: auto;
	    right: 6px;
	    top: 21%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    box-sizing: border-box;
	}
	.speaker-prev {
	    left: 6px;
	    top: 21%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    box-sizing: border-box;
	}
	.feedback__slide.swiper-slide-active .feedback__img {
	    width: 235px;
	    height: 380px;
	    object-fit: contain;
	}
	.cases__inner {
	    height: 409px;
	}
	.cases__btn-next, .cases__btn-prev {
	    transform: translateY(-60px);
	}
	.btn-close {
		border: none;
		outline: none;
		box-sizing: border-box;
		width: 31px;
    	height: 31px;
	}
	.btn-close::after, .btn-close::before {
	    top: 5px;
	    left: 15px;
	    width: 1px;
	    height: 20px;
	}
	.cases__modal-user dl {
	    font-size: 12px;
	    line-height: 150%;
	    margin-bottom: 0px;
	}
	.cases__modal-descr {
		margin-bottom: auto;
		margin-top: 20px;
	}
	.cases__modal-jump {
		margin-top: auto;
		margin-bottom: 28px;
	}
	.cases__modal {
	    padding: 30px;
	    height: 90vh;
	    width: 90vw;
	    max-width: 360px;
	}
	.cases__modal-show__slider {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.cases__modal-jump__item {
		width: auto;
		flex: 0 1 50%;
	}
	.cases__modal-jump__item:first-child {
		margin-right: 30px;
	}
	.cases__modal-jump__title--decor::after {
	    bottom: -6px;
	}
	.cases__modal-show__slider svg{
		display: block;
		width: 10px;
		height: 18px;
		margin-left: 12px;
		stroke: #fff;
	}
	.footer__item_telegram .footer__link::before {
	    top: -3px;
	    left: -32px;
	}
	.modal-window__wrapper {
		max-width: 375px;
	}
}




@media (min-width: 29.99875em) {
  .footer__items {
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 47.99875em) {
  .footer__item:not(:last-child) {
    margin-bottom: 35px;
  }
}
@media (max-width: 52.6875em) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .footer__item {
    text-align: right;
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .footer__item {
    margin-bottom: 0.9375rem;
  }

  .footer__link {
    font-size: 0.6875rem;
  }
}
@media (max-width: 29.99875em) {
  .footer {
    padding-top: 0;
  }

  .footer__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            display: block;
  }

  .footer__logo {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            margin-bottom: 25px;
  }

  .footer__item {
    text-align: center;
    margin-bottom: 5px !important;
  }

  .footer__list_first {
    /*display: none;*/
  }

  .footer__list_second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) and (min-width: 72.5625em) {
  .footer__item {
    margin-bottom: 2.1875rem;
  }

  .footer__link {
    font-size: 0.875rem;
  }
}
@supports (margin-bottom: clamp( 0.9375rem , 0.4618757432rem  +  2.3781212842vw , 2.1875rem )) {
    .footer__item {
      margin-bottom: clamp( 0.9375rem , 0.4618757432rem  +  2.3781212842vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4618757432rem  +  2.3781212842vw , 2.1875rem )) {
    .footer__item {
      margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 52.5625);
    }
}

@supports (font-size: clamp( 0.6875rem , 0.6161563615rem  +  0.3567181926vw , 0.875rem )) {
    .footer__link {
      font-size: clamp( 0.6875rem , 0.6161563615rem  +  0.3567181926vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.6875rem , 0.6161563615rem  +  0.3567181926vw , 0.875rem )) {
    .footer__link {
      font-size: calc(0.6875rem + 0.1875 * (100vw - 20rem) / 52.5625);
    }
}

@media (min-width: 47.99875em) {
  .header__container {
    padding-right: 0;
  }

  .header__menu {
    padding-right: 0.9375rem;
    padding-left: 70px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }

  .header__menu {
    border-radius: 0 0 0 1.25rem;
    background: #fdfdfd;
    border-radius: 30% 0% 0% 13%/0% 31% 27% 100%;
    -webkit-box-shadow: inset 19px 0px 26px 0px rgba(0, 0, 0, 0.11);
            box-shadow: inset 19px 0px 26px 0px rgba(0, 0, 0, 0.11);
  }

  .header__menu::after {
    content: "";
    position: absolute;
    background: #fdfdfd;
    top: 0;
    right: -50vw;
    width: 50vw;
    height: 100%;
    border-radius: 30% 0% 0% 13%/0% 31% 27% 100%;
    -webkit-box-shadow: inset 19px 0px 26px 0px rgba(0, 0, 0, 0.11);
            box-shadow: inset 19px 0px 26px 0px rgba(0, 0, 0, 0.11);
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 81.9375em) {
  .header__menu {
    padding-top: 2.5rem;
  }

  .header__menu {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 70.6875em) {
  .menu__list {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }
  .menu__item_cab::before {
    display: none;
  }
}
@media (max-width: 62em) {
  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

}
@media (max-width: 62em) {
  .header__menu {
    padding-top: 1.875rem;
  }

  .header__menu {
    padding-bottom: 1.875rem;
  }

  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .logo img {
    width: 173px;
    height: 2.1875rem;
  }
  .header__menu {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .menu__list {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .menu__item_about-us {
    display: none;
  }

  .menu__item_business {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    min-height: 2.25rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 50;
    overflow: auto;
    text-align: center;
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5rem 1.25rem 3.125rem 1.25rem;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4.375rem;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
    background-color: #fff;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::after {
    content: "";
    left: 0;
  }

  .menu__item_about-us {
    display: block;
  }

  .menu__item_business {
    display: block;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .menu__item_cab .menu__link {
    color: #777777 !important;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 51;
    background: none;
    border: none;
    outline: none;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    height: 0.125rem;
    background-color: #323232;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    width: 70%;
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 29.99875em) {

  .logo {
    text-align: left;
  }

  .logo img {
    width: 90px;
    height: 26px;
  }
}


@supports (padding-top: clamp( 1.875rem , -0.0685736677rem  +  3.1347962382vw , 2.5rem )) {
    .header__menu {
      padding-top: clamp( 1.875rem , -0.0685736677rem  +  3.1347962382vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.0685736677rem  +  3.1347962382vw , 2.5rem )) {
    .header__menu {
      padding-top: calc(1.875rem + 0.625 * (100vw - 62rem) / 19.9375);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.0685736677rem  +  3.1347962382vw , 2.5rem )) {
    .header__menu {
      padding-bottom: clamp( 1.875rem , -0.0685736677rem  +  3.1347962382vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.0685736677rem  +  3.1347962382vw , 2.5rem )) {
    .header__menu {
      padding-bottom: calc(1.875rem + 0.625 * (100vw - 62rem) / 19.9375);
    }
}
@media (min-width: 47.99875em) and (max-width: 75em) {
  .header__menu::after {
    right: -70vw;
  }
}