html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
img {
  max-width: 100%;
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
}

@font-face {
  font-family: 'OnestRegular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('OnestRegular'), url('../fonts/OnestRegular.woff2') format('woff2'), url('../fonts/OnestRegular.woff') format('woff');
}
@font-face {
  font-family: 'OnestMedium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('OnestMedium'), url('../fonts/OnestMedium.woff2') format('woff2'), url('../fonts/OnestMedium.woff') format('woff');
}
@font-face {
  font-family: 'OnestBold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('OnestBold'), url('../fonts/OnestBold.woff2') format('woff2'), url('../fonts/OnestBold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat-Medium'), url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat-SemiBold'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
}

body {
  font-family: 'Montserrat-Medium';
  font-size: 24px;
  line-height: 130%;
  color: #2e2e2e;
  background-image: url('../images/bg_sample.png');
  background-size: auto;
  background-repeat: repeat;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  font-family: 'OnestMedium';
  font-size: 42px;
  line-height: 130%;
  color: #2a2a2a;
  max-width: 610px;
}
.show__btn-mobile {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__top {
  position: sticky;
  top: 0;
  z-index: 50;
  background: #c20908;
  padding: 15px 0;
}
.header__top-inner {
  font-family: 'Montserrat-SemiBold';
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.header__top-descr {
  display: flex;
  align-items: center;
}
.header__top-img {
  margin-right: 29px;
}

.header__bottom {
  background-image: url('../images/header-bg.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1309px 100%;
  margin-bottom: auto;
}
.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 10px;
  height: 100%;
}
#ten-countdown {
  margin-left: 10px;
}
.logo {
  font-size: 9px;
  line-height: 130%;
}
.menu__btn {
  display: none;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item + .menu__item {
  margin-left: 55px;
}
.menu__link {
  font-size: 16px;
  line-height: 130%;
}

.smm {
  padding-top: 15px;
  padding-bottom: 40px;
}
.smm__inner {
  min-height: 500px;
  height: 100%;
  position: relative;
}
.smm__item {
  background-image: url('../images/smm-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 41px 41px 41px 41px;
  min-height: 500px;
  height: 100%;
  padding: 30px 30px 0 80px;
}
.smm__inner::after,
.smm__inner::before {
  content: '';
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -1;
}
.smm__inner::after {
  width: 239px;
  height: 241px;
  background-image: url('../images/smm-after.png');
  top: 45px;
  right: -124px;
}
.smm__inner::before {
  width: 242px;
  height: 319px;
  background-image: url('../images/smm-before.png');
  bottom: -70px;
  left: -135px;
}
.smm__income {
  background-color: #ffffff;
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: center;
  width: 350px;
  border-radius: 80px;
  padding: 12px 0;
}
.smm__title {
  font-family: 'OnestMedium';
  font-size: 50px;
  line-height: 130%;
  padding-top: 50px;
  margin-bottom: 40px;
}
.smm__subtitle {
  max-width: 358px;
}
.smm__btn {
  font-family: 'OnestMedium';
  display: inline-block;
  background: #c20908;
  border-radius: 70px;
  width: 385px;
  height: 70px;
  border: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 130%;
  position: absolute;
  left: 80px;
  bottom: -30px;
}

.video {
  padding-top: 100px;
}
.video__inner {
  margin-top: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 524px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.video__inner::after {
  content: '';
  position: absolute;
  right: 40px;
  top: -48px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fdfdfd;
  background-image: url('../images/video-icon.svg');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: inset 3px -1px 14px rgba(0, 0, 0, 0.11);
}
.video__play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 67px;
  background: linear-gradient(89.73deg, #b10000 1.37%, #ff2524 95.37%);
  border-radius: 19.847px;
}
.income {
  padding-top: 100px;
}
.income__inner {
  padding-top: 109px;
}
.income__calc {
  position: relative;
}
.range__slider {
  position: relative;
}
.income__calc::after,
.range__slider::after,
.range__slider::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -9px;
  background-color: #2a2a2a;
}
.income__calc::after {
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.range__slider::after {
  right: -2px;
  background: #c20908;
}
.range__slider::before {
  left: -10px;
}
.noUi-target {
  width: 100%;
  border: none;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(194, 9, 8, 1) 100%);
  height: 3px;
  border-radius: 0;
  transform: translateX(10px);
  box-shadow: none;
  z-index: 0;
}
.noUi-horizontal .noUi-handle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url('../images/smile1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  top: -21px;
  box-shadow: none;
}
.noUi-horizontal .noUi-handle.beginer {
  background-image: url('../images/smile1.png');
}
.noUi-horizontal .noUi-handle.junior {
  background-image: url('../images/junior.png');
}
.noUi-horizontal .noUi-handle.middle {
  background-image: url('../images/middle.png');
}
.noUi-horizontal .noUi-handle.senior {
  background-image: url('../images/senior.png');
}
.noUi-handle::after,
.noUi-handle::before {
  display: none;
}
.noUi-connect {
  transform: translateX(-10px);
  height: 3px;
  background-color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(255, 0, 0, 1) 100%);
}
.noUi-tooltip {
  position: absolute;
  bottom: 150% !important;
  display: block;
  padding: 6px 15px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  background-color: #2a2a2a;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-variant-numeric: tabular-nums;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
}
.noUi-tooltip::after {
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid #2a2a2a;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  -webkit-transition: left 200ms;
  transition: left 200ms;
  content: '';
}
.income__values {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 150%;
}
.income__values-item:nth-child(2) {
  text-align: center;
}
.income__values-item:nth-child(3) {
  text-align: right;
  padding-right: 5px;
}
.program {
  padding-top: 100px;
  background-image: url('../images/program-decor.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right -90px top -190px;
}
.program__inner {
  padding: 60px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 21.3134px 94.7263px rgb(0 0 0 / 4%);
}
.program__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.select {
  display: none;
}
.program__tab {
  width: 220px;
  height: 70px;
  background: #2a2a2a;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.program__tab.active {
  background: #c20908;
}
.program__content {
  display: none;
}
.program__content.active {
  display: grid;
  grid-template-columns: minmax(330px, 540px) minmax(300px, 429px);
  grid-gap: 0 64px;
}
.program__title {
  grid-column: span 2;
  color: #c20908;
}
.program__title-img {
  margin-right: 30px;
  float: left;
}
.program__title-text {
  padding-top: 45px;
}
.program__box {
  padding-top: 28px;
}
.program__box-title {
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}
.program__box-title::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.program__box-text {
  font-size: 18px;
  line-height: 150%;
}
.program__box-item + .program__box-item {
  margin-top: 30px;
}
.program__box--red {
  background: #c20908;
  border-radius: 10px;
  color: #ffffff;
  padding: 28px 45px 0 45px;
}
.program__box--red .program__box-title::after {
  background-color: #ffffff;
}

.speaker {
  padding-top: 100px;
}
.speaker__inner .slick-list {
  padding-top: 70px;
  padding-left: 40px;
}
.speaker__info {
  display: flex !important;
  align-items: center;
  background: #2a2a2a;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #ffffff;
  width: 1120px;
  height: 600px;
  position: relative;
}
.speaker__info::after {
  content: '';
  position: absolute;
  right: 40px;
  top: -48px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fdfdfd;
  background-image: url('../images/speaker-icon.svg');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: inset 3px -1px 14px rgba(0, 0, 0, 0.11);
}
.speaker__photo {
  max-width: 350px;
  transform: translateX(-40px);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.speaker__img {
  max-width: 100%;
  object-fit: cover;
}
.speaker__descr {
  margin-left: 50px;
}
.speaker__name {
  font-family: 'OnestRegular';
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 5px;
}
.speaker__subname {
  color: rgba(226, 226, 226, 0.5);
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 40px;
}
.speaker__list {
  max-width: 602px;
}
.speaker__item {
  padding-left: 24px;
  position: relative;
  font-size: 18px;
  line-height: 150%;
  font-family: 'Montserrat-Regular';
}
.speaker__item::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 11px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffffff;
}
.speaker__item + .speaker__item {
  margin-top: 30px;
}
.speaker-prev,
.speaker-next {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #323232;
  border: none;
  z-index: 5;
  bottom: 300px;
}
.speaker-prev {
  left: -18px;
}
.speaker-next {
  left: 330px;
}
.speaker-prev.slick-disabled,
.speaker-next.slick-disabled {
  opacity: 0;
}

.price {
  padding-top: 100px;
  padding-bottom: 130px;
}
.price__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 38px;
  padding-top: 88px;
  position: relative;
}
.price__inner::after {
  content: '';
  position: absolute;
  width: 145px;
  height: 394px;
  background-image: url('../images/price-decor.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  top: -220px;
  right: 40px;
  z-index: -1;
}
.price__inner::before {
  content: '';
  position: absolute;
  width: 344px;
  height: 344px;
  background-image: url('../images/price-decor2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  bottom: 20px;
  left: -180px;
  z-index: -1;
}
.price__item {
  /* max-width: 560px;
  width: 100%; */
  border-radius: 10px;
  padding: 88px 63px 0 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  position: relative;
  background-color: #ffffff;
}
.price__item--red {
  background: #c20908;
  color: #ffffff;
}
.price__item::before,
.price__item--red::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #fdfdfd;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: inset 3px -1px 14px rgba(0, 0, 0, 0.11);
}
.price__item::before {
  background-image: url('../images/price-icon1.svg');
}
.price__item--red::before {
  background-image: url('../images/price-icon2.svg');
}
.price__title {
  font-family: 'Montserrat-SemiBold';
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 50px;
  text-align: center;
}
.price__list {
  margin-bottom: auto;
  max-width: 369px;
}
.price__list-item {
  padding-left: 34px;
  position: relative;
}
.price__list-item::before {
  content: '';
  position: absolute;
  top: 17px;
  left: 11px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000000;
}
.price__item--red .price__list-item::before {
  background-color: #ffffff;
}
.price__list-item + .price__list-item {
  margin-top: 20px;
}
.price__wrapp {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: auto;
}
.price__new {
  font-family: 'OnestBold';
  font-size: 60px;
  line-height: 130%;
  margin-right: 25px;
}
.price__old {
  font-size: 18px;
  line-height: 150%;
  color: rgba(42, 42, 42, 0.7);
  text-decoration: line-through;
}
.price__item--red .price__old {
  color: rgba(226, 226, 226, 0.7);
}
.price__btn {
  border: none;
  width: 268px;
  height: 70px;
  background: #2a2a2a;
  border-radius: 70px;
  color: #ffffff;
  font-family: 'OnestRegular';
  font-size: 24px;
  line-height: 130%;
  margin: 0 auto -35px auto;
}
.modal-window {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal-window.active {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111;
}
.modal-window__title {
  font-family: 'OnestMedium';
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 10px;
}
.modal-window__text-inner {
  text-align: center;
  margin-bottom: 25px;
}
.modal-window__text:first-child {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 40px;
}
.modal-window__text:last-child {
  font-size: 16px;
  line-height: 150%;
}
.modal-window__input {
  background: #f0f0f0;
  border-radius: 10px;
  border: none;
  padding: 12px 20px;
  margin-bottom: 10px;
  width: 100%;
}
.modal-window__input::placeholder {
  font-family: 'Montserrat-Medium';
  font-size: 14px;
  line-height: 150%;
}
.btn-form {
  color: #ffffff;
  margin-top: 10px;
  border: none;
  background: #c20908;
  border-radius: 70px;
  font-family: 'OnestMedium';
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}
#overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  cursor: pointer;
}
.modal-window__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 450px;
  padding: 40px 75px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  z-index: 101;
  text-align: center;
}
.btn-close {
  position: absolute;
  background-color: #111111;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btn-close::after,
.btn-close::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 17px;
  width: 2px;
  height: 20px;
  background-color: #ffffff;
}
.btn-close::before {
  transform: rotate(45deg);
}
.btn-close::after {
  transform: rotate(-45deg);
}

.feedback {
  padding-top: 60px;
  padding-bottom: 128px;
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;
  background-color: #2a2a2a;
  border-radius: 10px;
  background-image: url('../images/feedback-decor1.png'), url('../images/feedback-decor2.png');
  background-repeat: no-repeat;
  background-position: right top, right top 170px;
  background-size: auto, auto;
  position: relative;
}
.feedback__inner .title {
  color: #ffffff;
}
.feedback__slides-wrapp {
  overflow: hidden;
  position: relative;
}
.feedback__slides {
  padding: 35px 0;
  align-items: center;
}
.feedback__slide {
  width: 230px;
  height: 440px;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 70px;
  position: relative;
}
.feedback__slide::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.feedback__slide.swiper-slide-active::after {
  display: none;
}
.feedback__img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.feedback__user {
  text-align: center;
  padding-top: 30px;
}
.feedback__link {
  display: inline-block;
  width: 300px;
  height: 50px;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  z-index: 2;
  font-size: 22px;
  line-height: 130%;
}
.feedback__text {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  background-color: #2a2a2a;
}
.swiper-pagination {
  bottom: 0;
  top: 0px;
  color: #ffffff;
  font-size: 18px;
  line-height: 150%;
  padding-top: 30px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translateY(50%);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 23px;
  color: #323232;
}
.swiper-button-next {
  right: 28.75%; /* 345px/1200 */
}
.swiper-button-prev {
  left: 28.75%; /* 345px/1200 */
}
.feedback__slide.swiper-slide-active {
  transform: scale(1.15, 1.15);
}
.feedback__btn {
  width: 268px;
  height: 70px;
  background: #c20908;
  border-radius: 70px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.cases {
  padding-top: 135px;
}
.cases__slider-wrapp {
  width: 100%;
  height: 561px;
  position: relative;
}
.cases-prev,
.cases-next {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;
}
.cases-prev {
  left: -35px;
}
.cases-next {
  right: -35px;
}
.cases__item {
  height: 561px;
  margin-right: 40px;
}
.cases__item-wrepp {
  width: 300px;
  height: 450px;
}
.cases__user {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}
.cases__user-name {
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  text-align: center;
  padding: 6px 0;
  background: #ffffff;
  border-radius: 20px;
}
.cases__jump {
  display: flex;
  color: #ffffff;
  text-align: center;
}
.cases__jump-a {
  margin-right: auto;
  position: relative;
}
.cases__jump-a::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: -35px;
  width: 18px;
  height: 14px;
  background-image: url('../images/arrow-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cases__jump-title {
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.cases__jump-num {
  font-size: 16px;
  line-height: 150%;
  width: 100px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #2a2a2a;
  padding: 5px 0;
}
.cases__jump-num--red {
  color: #ffffff;
  background-color: #c20908;
}
.cases__read {
  display: inline-block;
  margin-top: 40px;
  background: #2a2a2a;
  border-radius: 70px;
  color: #ffffff;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 230px;
  padding: 20px 0;
  text-align: center;
}
.cases__modal {
  display: none;
  max-width: 1000px;
  width: 100%;
  height: 700px;
  background-color: #292929;
  border-radius: 10px;
  padding: 50px 50px 99px;
  color: #ffffff;
  position: relative;
}
.cases__modal-prev,
.cases__modal-next {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  z-index: 1;
}
.cases__modal-prev {
  left: -30px;
}
.cases__modal-next {
  right: -30px;
}
.cases__modal-slider .slick-disabled {
  opacity: 0;
}
.fancybox-slide--html .fancybox-close-small {
  right: 50px;
  top: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
}
.fancybox-button svg {
  display: none;
}
.fancybox-button {
  background-image: url('../images/close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fancybox-can-pan .fancybox-content,
.fancybox-can-swipe .fancybox-content {
  cursor: inherit;
}
.cases__modal-box {
  max-width: 535px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cases__modal-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
.cases__modal-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cases__modal-name {
  margin-bottom: 30px;
}
.cases__modal-name__title {
  font-family: 'OnestRegular';
  font-size: 50px;
  line-height: 130%;
  margin-bottom: 15px;
}
.cases__modal-name__subtitle {
  font-size: 20px;
  line-height: 150%;
  padding-left: 50px;
  position: relative;
  display: inline-block;
}
.cases__modal-name__subtitle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url('../images/insta.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cases__modal-descr {
  font-family: 'Montserrat-Regular';
  font-size: 20px;
  line-height: 150%;
  max-width: 510px;
}
.cases__modal-user dl {
  display: flex;
  font-size: 20px;
  line-height: 150%;
}
.cases__modal-user dt {
  color: rgba(255, 255, 255, 0.4);
  margin-right: 14px;
}
.cases__modal-jump {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
}
.cases__modal-jump__item {
  padding: 20px;
  background: #c20908;
  border-radius: 10px;
  width: 240px;
  position: relative;
}
.cases__modal-jump__item:first-child::after {
  content: '';
  position: absolute;
  right: -38px;
  top: 50%;
  transform: translateY(-50%);
  width: 19px;
  height: 16px;
  background-image: url('../images/Arrow-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cases__modal-jump__title {
  font-size: 18px;
  line-height: 150%;
  position: relative;
  width: 100%;
  display: inline-block;
  font-family: 'Montserrat-SemiBold';
}
.cases__modal-jump__title:first-child {
  font-family: 'Montserrat-Bold';
}
.cases__modal-jump__title--decor {
  position: relative;
}
.cases__modal-jump__title--decor::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.cases__modal-jump__subtitle {
  font-size: 16px;
  line-height: 150%;
  font-family: 'Montserrat-Regular';
  padding-top: 5px;
}
.cases__modal-show__slider,
.cases__modal-close__slider {
  display: none;
}
.cases__modal-slider__inner--close {
  width: 300px;
  height: 470px;
  position: absolute;
  right: 50px;
  bottom: 99px;
}
.cases__modal-slider {
  width: 100%;
  height: 100%;
}
.cases__modal-slider__item {
  width: 100%;
  height: 470px;
  border-radius: 10px;
}
.case__modal-next,
.case__modal-prev {
  position: absolute;
  top: calc(50% - 35px);
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 5;
}
.case__modal-next,
.cases__modal-slider-next {
  right: -28px;
}
.case__modal-prev,
.cases__modal-slider-prev {
  left: -28px;
}
.case__modal-prev.swiper-button-disabled {
  opacity: 0;
}
.cases__btn-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}
.cases__btn-decor {
  display: inline-block;
  font-size: 68px;
  line-height: 70px;
}
.cases__btn {
  font-family: 'OnestMedium';
  width: 320px;
  height: 70px;
  background: #c20908;
  border-radius: 70px;
  margin: 0 100px;
  color: #ffffff;
  border: none;
}
.question {
  padding-top: 120px;
  padding-bottom: 200px;
}
.question__inner {
  width: 100%;
  padding-top: 40px;
}
.question__item {
  margin-bottom: 40px;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  padding: 40px;
}
.question__title {
  position: relative;
  cursor: pointer;
}
.question__title.active {
  padding-bottom: 15px;
}
.question__title::after {
  content: '';
  position: absolute;
  top: 11px;
  right: 0px;
  width: 27px;
  height: 14px;
  background-image: url('../images/arrow-down.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.question__title.active::after {
  transform: rotate(180deg);
}

.question__title::before {
  content: '';
  position: absolute;
  bottom: -10px;
  background-color: #c20908;
  height: 2px;
  width: 0%;
  left: 50%;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
.question__title.active::before {
  width: 100%;
}
.question__body {
  display: none;
  font-size: 18px;
  line-height: 150%;
  margin-top: 25px;
}
.question__body-item {
  position: relative;
  padding-left: 28px;
}
.question__body-item::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 11px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #2a2a2a;
}
.question__body-item + .question__body-item {
  margin-top: 10px;
}

@media (max-width: 1536px) {
  .header__bottom {
    background-size: 1045px 100%;
  }
}
@media (max-width: 1440px) {
  .header__bottom {
    background-size: 999px 100%;
  }
  .smm__inner::before {
    width: 150px;
    height: 170px;
    background-image: url('../images/smm-before-tablet.png');
    bottom: 30%;
    left: -70px;
    background-size: contain;
  }
  .smm__inner::after {
    width: 60px;
    height: 130px;
    right: -20px;
    background-image: url('../images/smm-after-tablet.png');
  }
}
@media (max-width: 1380px) {
  .noUi-target {
    transform: translateX(0);
    width: 90%;
    margin: 0 auto;
  }
  .noUi-tooltip {
    font-size: 20px;
    padding: 6px 12px;
  }
  .income__values {
    width: 90%;
    margin: 0 auto;
  }
  .cases-next {
    right: 0;
  }
  .cases-prev {
    left: 0;
  }
}
@media (max-width: 1180px) {
  .noUi-tooltip {
    font-size: 14px;
    line-height: 130%;
    padding: 5px 10px;
  }
  .program {
    background-image: none;
  }
  .program__inner {
    padding: 30px;
  }
  .program__content.active {
    grid-gap: 0 20px;
  }
  .program__box--red {
    padding-left: 20px;
  }
  .program__tab {
    width: 150px;
    height: 60px;
    font-size: 20px;
    line-height: 150%;
  }
}

@media (max-width: 975px) {
  .title {
    font-size: 40px;
  }
  .header__top-inner {
    font-size: 16px;
    line-height: 130%;
  }
  .overlay__menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: -80px;
    z-index: 101;
    opacity: 0;
  }
  .overlay__menu.active {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  .header__top.active {
    z-index: 10;
  }
  .header__bottom {
    background-image: none;
    position: fixed;
    background-color: #fff;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 11;
  }
  .logo {
    width: 172px;
    height: 46px;
  }
  .menu__btn {
    display: block;
    position: relative;
    width: 22px;
    height: 16px;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
    z-index: 111;
  }
  .menu__btn::after,
  .menu__btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2a2a2a;
    left: 0;
    border-radius: 5px;
  }
  .menu__btn::after {
    bottom: 0;
  }
  .menu__btn::before {
    top: 0;
  }
  .menu__btn.active::after {
    transform: rotate(45deg);
    bottom: 50%;
  }
  .menu__btn.active::before {
    transform: rotate(-45deg);
    top: 40%;
  }
  .menu__btn span {
    display: inline-block;
    height: 2px;
    width: 16px;
    background-color: #2a2a2a;
    margin-left: auto;
    border-radius: 5px;
    transition: opacity 0.3s;
  }
  .menu__btn.active span {
    opacity: 0;
  }
  .menu__list {
    position: absolute;
    top: 0px;
    right: 0;
    flex-direction: column;
    background: #ffffff;
    text-align: left;
    width: 380px;
    height: 100vh;
    transform: translateY(-300%);
    transition: all 0.5s;
    z-index: 110;
    padding-top: 200px !important;
    padding-left: 40px !important;
  }
  .menu__list.active {
    transform: translateY(0%);
    top: -88px;
  }
  .header__top.hide {
    display: none;
  }
  .menu__item {
    width: 100%;
  }
  .menu__link {
    font-size: 22px;
    line-height: 130%;
  }
  .menu__item + .menu__item {
    margin-left: 0;
    margin-top: 24px;
  }
  .menu__item:last-child {
    margin-top: 60px;
    color: #777777;
  }
  .smm {
    padding-top: 88px;
    min-height: 570px;
  }
  .smm__item {
    background-image: url('../images/smm-bg-tablet.jpg');
    background-size: cover;
    padding: 0 50px;
    height: 570px;
  }
  .smm__title {
    width: 300px;
    font-size: 48px;
    padding-top: 100px;
    margin-bottom: 30px;
  }
  .smm__income {
    right: 20px;
  }
  .smm__btn {
    left: 50%;
    transform: translateX(-50%);
    bottom: -110px;
  }
  .video__inner {
    height: 700px;
  }
  .income {
    padding-top: 80px;
  }
  .speaker__descr {
    margin-left: 0px;
  }
  .price {
    padding-bottom: 130px;
  }
  .price__item {
    padding: 78px 25px 0 25px;
  }
  .price__title {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .price__list-item {
    font-size: 20px;
  }
  .swiper-pagination {
    padding-top: 20px;
  }
  .feedback__slide {
    padding-top: 40px;
    width: 189px;
    height: 330px;
  }
  .feedback__slide::after {
    top: 39px;
  }
  .cases-prev,
  .cases-next,
  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 16px;
  }
  .cases-prev svg,
  .cases-next svg {
    width: 9px;
    height: 16px;
  }
  .cases__modal {
    padding: 30px 30px 75px 30px;
    height: 680px;
  }
  .cases__modal-photo {
    width: 100px;
    height: 100px;
  }
  .cases__modal-name__title {
    font-size: 48px;
  }
  .cases__modal-name__subtitle {
    font-size: 16px;
    padding-left: 40px;
  }
  .cases__modal-name__subtitle::before {
    top: -3px;
  }
  .cases__modal-user dl {
    font-size: 16px;
  }
  .cases__modal-descr {
    font-size: 16px;
  }
  .cases__modal-jump {
    justify-content: start;
  }
  .cases__modal-jump__item {
    width: 185px;
  }
  .cases__modal-jump__item:first-child::after {
    right: -32px;
  }
  .cases__modal-jump__item:first-child {
    margin-right: 45px;
  }
  .cases__modal-jump__title {
    font-size: 16px;
  }
  .fancybox-slide--html .fancybox-close-small {
    top: 30px;
    right: 30px;
  }
  .cases__modal-slider__inner--close {
    right: 30px;
    bottom: 75px;
    width: 225px;
    height: 410px;
  }
  .cases__modal-slider__item {
    height: 100%;
  }
  .cases__modal-next {
    right: -25px;
  }
  .cases__modal-prev {
    left: -25px;
  }
}
@media (max-width: 880px) {
  .speaker {
    padding-top: 50px;
  }
  .speaker__inner .slick-list {
    padding-top: 100px;
    padding-left: 0px;
  }
  .speaker__info {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 0px 45px;
  }
  .speaker__info::after {
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
  }
  .speaker__photo {
    max-width: 81.690141%; /* 580px/710 */
    height: 520px;
    margin: -50px auto 30px auto;
    transform: translateX(0%);
  }
  .speaker__descr {
    max-width: 81.690141%;
  }
  .speaker__item {
    font-size: 16px;
  }
  .speaker-prev,
  .speaker-next {
    bottom: 0;
    top: 260px;
  }
  .speaker-next {
    left: 87%;
  }
  .speaker-prev {
    left: 5%;
  }
  .feedback {
    padding-bottom: 90px;
    padding-top: 50px;
  }
  .swiper-pagination {
    font-size: 16px;
  }
  .feedback__link {
    font-size: 18px;
    width: 250px;
    height: 40px;
    padding-top: 8px;
  }
  .feedback__text {
    font-size: 18px;
  }
  .cases__modal-box {
    max-width: 430px;
  }
  .question__title {
    font-size: 20px;
    line-height: 150%;
  }
  .question__body {
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  .video__inner::after {
    width: 50px;
    height: 50px;
    background-size: 22px 34px;
    right: 28px;
    top: -25px;
  }
  .noUi-tooltip {
    font-size: 9px;
    line-height: 14px;
    padding: 7px;
  }
  .program__inner {
    padding: 20px 0px 0px 0px;
    background-color: transparent;
    box-shadow: none;
  }
  .select {
    display: block;
  }
  .program__tabs {
    display: none;
  }
  .program__tabs-select {
    display: block;
    margin-top: 28px;
  }
  .program__tabs-select .program__tab {
    width: 100%;
  }
  .program__tabs-select .program__tab + .program__tab {
    margin-top: 15px;
  }
  .program__tab-body {
    display: none;
  }
  .program__tabs-select.active .program__tab-body {
    display: none;
  }
  .program__content.active {
    grid-template-columns: repeat(1, 1fr);
  }
  .program__title {
    grid-column: span 1;
    display: flex;
    align-items: center;
    padding-top: 32px;
  }
  .program__box {
    padding: 28px 20px 0;
  }
  .program__box--red {
    padding: 20px 20px 40px 20px;
    margin-top: 72px;
  }
  .program__box-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 150%;
  }
  .program__box-title::after {
    height: 1px;
  }
  .program__box-text {
    font-size: 15px;
    line-height: 150%;
  }
  .program__title-text {
    padding-top: 0;
  }
  .program__title-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .program__title-text {
    font-family: 'OnestRegular';
    font-size: 18px;
    line-height: 130%;
  }
  .select {
    max-width: 100%;
    padding-top: 28px;
    position: relative;
  }
  .select__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 150%;
    color: #ffffff;
    background: #c20908;
    border-radius: 10px;
    padding: 9px 20px;
  }
  .select__title {
    text-transform: uppercase;
  }
  .select__icon {
    width: 16px;
    height: 13px;
  }
  .select__items {
    display: none;
  }
  .select.active .select__items {
    position: absolute;
    left: 5%;
    display: block;
    margin: 10px auto;
    width: 90%;
    padding: 10px 21px;
    background-color: #ffffff;
    box-shadow: 0 5px 20px black;
    border-radius: 10px;
    z-index: 2;
  }
  .select__item {
    font-size: 15px;
    line-height: 150%;
    padding: 10px 0px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .select__item:last-child {
    border-bottom: none;
  }
  .select.active .select__icon {
    transform: rotate(180deg);
  }
  .price {
    padding-top: 40px;
  }
  .price__inner {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 38px;
  }
  .price__inner::after {
    content: '';
    position: absolute;
    width: 66px;
    height: 174px;
    background-image: url('../images/price-decor-320.svg');
    top: -100px;
    right: 0px;
  }
  .price__inner::before {
    width: 140px;
    height: 130px;
    background-image: url('../images/price-decor2-320.png');
    bottom: 435px;
    left: -54px;
  }
  .price__item {
    padding: 45px 30px 0px 30px;
    height: initial;
  }
  .price__item::before,
  .price__item--red::before {
    width: 50px;
    height: 50px;
    top: -25px;
    background-size: 21px 28px;
  }
  .price__item--red {
    margin-top: 150px;
  }
  .price__title {
    margin-bottom: 28px;
    font-size: 17px;
    line-height: 130%;
  }
  .price__list-item {
    font-family: 'Montserrat-Medium';
    font-size: 15px;
    line-height: 150%;
    padding-left: 10px;
  }
  .price__list-item::before {
    top: 10px;
    left: 2px;
    width: 2px;
    height: 2px;
  }
  .price__wrapp {
    margin-top: 35px;
    margin-bottom: -15px;
  }
  .price__new {
    font-family: 'OnestMedium';
    margin-right: 10px;
    font-size: 40px;
    line-height: 130%;
  }
  .price__old {
    font-size: 14px;
    line-height: 150%;
  }
  .price__btn {
    width: 100%;
    transform: translate(0px, 60px);
  }
  .cases__modal-slider__inner--close {
    display: none;
  }
  .cases__modal-slider__inner--close {
    position: absolute;
    width: 280px;
    height: 90%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2a2a2a;
    z-index: 50;
  }
  .cases__modal {
    padding: 30px;
    height: 90vh;
    width: 90vw;
  }
  .fancybox-slide--html .fancybox-close-small {
    right: 32px;
    top: 32px;
    width: 12px;
    height: 12px;
  }
  .cases__modal-box {
    max-width: 280px;
    height: 430px;
    margin: 0 auto 50px;
  }
  .cases__modal-photo {
    width: 80px;
    height: 80px;
  }
  .cases__modal-name {
    margin-bottom: 20px;
  }
  .cases__modal-name__title {
    font-size: 24px;
    padding-top: 50px;
  }
  .cases__modal-user dl {
    font-size: 12px;
  }
  .cases__modal-name__subtitle {
    font-size: 12px;
    padding-left: 26px;
    margin-top: 5px;
  }
  .cases__modal-name__subtitle::before {
    width: 16px;
    height: 16px;
    top: 1px;
  }
  .cases__modal-descr {
    font-size: 15px;
  }
  .cases__modal-show__slider {
    display: block;
    font-size: 14px;
    line-height: 150%;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 70px;
    padding: 10px 40px 10px 40px;
    color: #ffffff;
    margin: 0 auto 0 auto;
    width: 280px;
  }
  .cases__modal-jump__item {
    padding: 10px;
  }
  .cases__modal-jump__title {
    font-size: 12px;
    line-height: 150%;
    font-family: 'Montserrat-Regular';
  }
  .cases__modal-jump__title:first-child {
    margin-bottom: 0px;
  }
  .cases__modal-jump__subtitle {
    font-size: 12px;
    line-height: 150%;
    padding-top: 0;
  }
  .cases__modal-close__slider.active {
    display: block;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 12px;
    height: 12px;
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    z-index: 402;
  }
}

@media (max-width: 595px) {
  .cases__btn-decor {
    display: none;
  }
}

@media (max-width: 460px) {
  .title {
    text-align: center;
    font-size: 24px;
    line-height: 130%;
  }
  .modal-window {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .modal-window.active {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 111;
  }
  .modal-window__title {
    font-family: 'OnestMedium';
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .modal-window__text-inner {
    text-align: center;
    margin-bottom: 25px;
  }
  .modal-window__text:first-child {
    font-size: 12px;
    margin-bottom: 25px;
  }
  .modal-window__text:last-child {
    font-size: 15px;
  }
  .modal-window__input {
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    line-height: 150%;
  }
  .modal-window__input::placeholder {
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    line-height: 150%;
  }
  .btn-form {
    color: #ffffff;
    margin-top: 10px;
    border: none;
    background: #c20908;
    border-radius: 70px;
    font-family: 'OnestMedium';
    font-size: 16px;
    line-height: 150%;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
  }
  #overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    cursor: pointer;
  }
  .modal-window__wrapper {
    width: 90%;
    height: 420px;
    padding: 25px 30px 45px 30px;
  }
  .btn-close {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .btn-close::after,
  .btn-close::before {
    top: 4px;
    left: 13px;
    width: 1px;
    height: 20px;
  }
  .header__bottom {
    margin-bottom: 30px;
    top: 61px;
  }
  .header__top-inner {
    font-size: 12px;
    line-height: 130%;
  }
  .header__top-img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }
  .header__bottom-inner {
    padding-top: 20px;
  }
  #ten-countdown {
    margin-left: 7px;
  }
  .logo {
    height: 18px;
    width: 89px;
    font-size: 6px;
    line-height: 130%;
    z-index: 11;
  }
  .overlay__menu {
    display: none;
  }

  .menu__list {
    text-align: center;
    width: 100%;
    z-index: 10;
  }
  .menu__list.active {
    top: -66px;
    padding-right: 40px;
  }
  .header__top.hide {
    display: none;
  }
  .menu__item {
    width: 100%;
  }
  .menu__item + .menu__item {
    margin-left: 0;
    margin-top: 24px;
  }
  .menu__item:last-child {
    margin-top: 40px;
    color: #777777;
  }
  .smm__item {
    padding-left: 20px;
    padding-right: 20px;
    background-image: url('../images/smm-bg-320.jpg');
    border-radius: 0px 0px 10px 10px;
    height: 460px;
  }
  .smm__title {
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: center;
    width: 100%;
  }
  .smm__subtitle {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }
  .smm__income {
    display: none;
  }
  .smm__btn {
    font-size: 16px;
    line-height: 150%;
    width: 100%;
    height: 50px;
    bottom: -95px;
  }
  .smm__inner::before {
    width: 67px;
    height: 76px;
    background-image: url('../images/smm-before-320.png');
    bottom: 0px;
    top: 126px;
    left: -21px;
  }
  .smm__inner::after {
    width: 77px;
    height: 77px;
    background-image: url('../images/smm-after-320.png');
    background-size: cover;
    top: 78px;
    right: -16px;
  }
  .video {
    padding-top: 95px;
  }
  .video__inner {
    height: 398px;
    margin-top: 37px;
  }
  .video__play {
    width: 70px;
    height: 48px;
    border-radius: 11px;
  }
  .video__play svg {
    width: 19px;
    height: 19px;
  }
  .income {
    padding-top: 40px;
  }
  .income__inner {
    padding-top: 85px;
  }
  .income__values {
    font-size: 12px;
    line-height: 150%;
    padding-top: 25px;
  }
  .noUi-target {
    height: 2px;
  }
  .income__calc::after,
  .range__slider::after,
  .range__slider::before {
    width: 8px;
    height: 8px;
    top: -3px;
  }
  .range__slider::before {
    left: -3px;
  }
  .noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    top: -11px;
    right: -10px;
  }
  .program {
    padding-top: 40px;
  }
  .speaker {
    padding-top: 40px;
  }
  .speaker__inner {
    padding-left: 0;
    padding-top: 20px;
  }
  .speaker__inner .slick-list {
    padding-left: 0;
  }
  .speaker__photo {
    height: 270px;
  }
  .speaker__name {
    font-size: 20px;
  }
  .speaker__subname {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .speaker__item {
    font-size: 12px;
    padding-left: 18px;
  }
  .speaker__item + .speaker__item {
    margin-top: 20px;
  }
  .speaker__item::before {
    top: 8px;
    left: 8px;
    width: 2px;
    height: 2px;
  }
  .speaker__info::after {
    width: 40px;
    height: 40px;
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
    background-size: 17px 23px;
  }
  .speaker-prev,
  .speaker-next {
    top: 170px;
  }
  .speaker-prev {
    left: 4%;
  }
  .speaker-next {
    left: 85%;
  }
  .price__item {
    padding: 45px 20px 0px 20px;
  }
  .price__btn {
    width: 119%;
    transform: translate(-30px, 45px);
  }
  .feedback {
    padding: 20px 0;
    background-position: right -60px top -35px, right -6px top 90px;
    background-size: auto, 50px, 50px;
  }
  .swiper-pagination {
    font-size: 12px;
    line-height: 150%;
  }
  .swiper-button-next {
    right: 8%;
  }
  .swiper-button-prev {
    left: 8%;
  }
  .feedback__user {
    padding-top: 20px;
  }
  .feedback__link {
    width: 304px;
    height: auto;
    padding: 6px 0;
    font-size: 12px;
    width: 235px;
  }
  .feedback__text {
    font-size: 15px;
  }
  .feedback__btn {
    width: 90%;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: -60px;
    z-index: 1;
  }
  .cases {
    position: relative;
  }
  .cases__slider-wrapp {
    height: 352px;
  }
  .cases__user {
    height: 289px;
    width: 100%;
    margin: 0 auto;
  }
  .cases__inner {
    position: relative;
    height: 402px;
  }
  .cases__item {
    height: 100%;
    padding: 0 30px;
  }
  .cases__item-wrepp {
    margin: 0 auto;
    width: 100%;
    height: 355px;
  }
  .cases__btn-next,
  .cases__btn-prev {
    filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.25));
    top: 50%;
  }
  .cases__jump-a::after {
    bottom: 7px;
  }
  .cases__user-name {
    font-size: 12px;
  }
  .cases__jump-title {
    text-align: left;
    font-size: 12px;
    line-height: 150%;
  }
  .cases__jump-num {
    font-size: 12px;
    line-height: 150%;
    width: 82px;
  }
  .cases__read {
    margin-left: 0;
    transform: translateX(0);
    margin-top: 20px;
    background-color: transparent;
    color: #2a2a2a;
    border: 1px solid #2a2a2a;
    font-size: 14px;
    line-height: 150%;
    width: 100%;
    padding: 10px 0;
  }
  .cases__btn-wrapp {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    text-align: center;
  }
  .cases__btn {
    background-color: #2a2a2a;
    font-size: 14px;
    line-height: 150%;
    padding: 11px 0;
    width: 254px;
    height: auto;
    margin: 0 auto;
  }
  .cases__modal-name__subtitle {
    font-size: 12px;
    line-height: 150%;
    padding-left: 24px;
    width: 100%;
  }
  .cases__modal-name__subtitle::before {
    width: 16px;
    height: 16px;
  }
  .cases__modal-user dl {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 20px;
  }
  .cases__modal-descr {
    font-size: 15px;
    line-height: 150%;
    max-width: 298px;
  }
  .cases__modal-jump__item {
    padding: 0px 12px 0px;
    width: 146px;
    height: 105px;
  }
  .cases__modal-jump__title--decor {
    transform: translateY(-8px);
  }
  .cases__modal-jump__item:first-child::after {
    width: 10px;
    height: 8px;
    right: -20px;
  }
  .cases__modal-slider {
    height: 440px;
    width: 320px;
  }
  .cases__modal-next,
  .cases__modal-prev {
    position: absolute;
    background-color: transparent;
    top: 100%;
    width: 110px;
    height: 44px;
    border-radius: 70px;
    border: 1px solid #ffffff;
  }
  .cases__modal-next {
    right: 0;
  }
  .cases__modal-prev {
    left: 0;
  }
  .cases__modal-next::after,
  .cases__modal-prev::after {
    color: #ffffff;
  }
  .question {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .question__inner {
    padding-top: 20px;
  }
  .question__item {
    padding: 20px;
    margin-bottom: 20px;
  }
  .question__title {
    font-size: 15px;
    line-height: 150%;
    padding-right: 20px;
  }
  .question__title::after {
    width: 15px;
    height: 9px;
    top: 6px;
    right: -3px;
  }
  .question__body {
    font-size: 12px;
    line-height: 150%;
  }
  .question__title.active {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
@media (max-width: 420px) {
  .header__bottom-inner {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .cases__modal-jump__item {
    padding: 0px 12px 0px;
    width: 110px;
    height: initial;
  }
  .cases__modal-slider {
    /* height: 413px;
    width: 240px; */
    top: 50px;
  }
  /* .cases__modal-next,
  .cases__modal-prev {
    width: 110px;
    top: 490px;
  } */
  .price__btn {
    width: 124%;
    height: 54px;
    transform: translate(-30px, 45px);
    font-size: 16px;
    line-height: 150%;
  }
  .speaker__photo {
    width: 240px;
    height: 240px;
  }
  .feedback__slide {
    padding-top: 40px;
    width: 169px;
    height: 310px;
  }
  .cases-next,
  .cases-prev,
  .feedback__next,
  .feedback__prev {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 375px) {
  .speaker-next {
    right: 0;
  }
  .speaker-prev {
    left: 0px;
  }
  .swiper-button-next {
    right: 0%;
  }
  .swiper-button-prev {
    left: 0%;
  }
}
